# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.eggw

# Logs
*.log
server.log

# Virtual Environment
venv/
ENV/

# Local data
data/case_studies/*.json
data/raw_case_studies/*.html
